playwright
aiomysql==0.3.2
aiosmtplib==2.0.2
alembic==1.13.2
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.0.0
app==0.0.1
appointments==0.1.0
arabic-reshaper==3.0.0
argon==0.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asn1crypto==1.5.1
base==0.0.0
bcrypt==4.0.1
blinker==1.9.0
boto3==1.42.96
botocore==1.42.96
brotli==1.2.0
certifi==2026.4.22
cffi==1.17.1
chardet==7.4.3
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
cryptography==43.0.3
cssselect2==0.9.0
django-qrcode==0.3
dnspython==2.6.1
ecdsa==0.19.0
email-validator==2.1.0.post1
et-xmlfile==1.1.0
exceptiongroup==1.3.1
fastapi==0.110.0
fastapi-mail==1.4.1
fonttools==4.62.1
freetype-py==2.5.1
greenlet==3.3.2
h11==0.16.0
html5lib==1.1
httpcore==1.0.9
httptools==0.6.1
httpx==0.28.1
idna==3.7
Jinja2==3.1.6
jmespath==1.1.0
lxml==6.1.0
Mako==1.3.5
MarkupSafe==2.1.5
numpy==1.26.4
openpyxl==3.1.2
oscrypto==1.3.0
pandas==2.2.2
passlib==1.7.4
pdfkit==1.0.0
pillow==10.4.0
pyasn1==0.6.0
pycairo==1.29.0
pycparser==2.22
pydantic==2.7.4
pydantic-settings==2.3.4
pydantic_core==2.18.4
pydyf==0.12.1
pyHanko==0.34.1
pyhanko-certvalidator==0.30.2
PyMySQL==1.1.1
pypdf==6.10.2
pyphen==0.17.2
python-bidi==0.6.7
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.3.0
python-multipart==0.0.9
pytz==2026.2
PyYAML==6.0.2
regex==2026.5.9
reportlab==4.4.3
requests==2.33.1
rlPyCairo==0.4.0
rsa==4.9
s3transfer==0.16.1
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.31
starlette==0.36.3
svglib==1.6.0
tinycss2==1.5.1
tinyhtml5==2.1.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.1
tzlocal==5.3.1
uritools==6.0.2
urllib3==2.6.3
uvicorn==0.30.0
watchfiles==0.21.0
weasyprint==68.1
webencodings==0.5.1
websockets==12.0
xhtml2pdf==0.2.17
zopfli==0.4.1

